_site
.sass-cache
Gemfile.lock
*.gem
.jekyll-cache
.jekyll-cache
/assets/images/*_img/*.jpg
/assets/images/*_img/*.png
/assets/images/*_img/*.jpeg
/assets/images/selfie2.jpg
/assets/images/selfie3.jpg
/assets/images/selfie5.png
/scripts/*
# keep scripts folder by leaving gitkeep
!/scripts/.gitkeep