<!-- <link rel="stylesheet" href="/assets/css/style.css?v=9ebc38a5981796d9472a934f0c2a270ce61eaa0c"> -->
<!-- <nav >
  <a class="btn" href="index.html" title="resume">Home</a>
  <a class="btn" href="resume.html" title="resume">Resume</a>
  <a class="btn" href="projects.html" title="personal projects">Projects</a>
  <a class="btn" href="https://github.com/rkcabell/" target="_blank" rel="noopener noreferrer"
    title="github UwU">GitHub</a>
  <a class="btn" href="/cat.html" title="cat pics :3">Cat</a>
  <a class="btn" href="/art.html" title="artwork">Art</a>
  <a class="btn" href="/world.html" title="worldbuilding">Worldbuilding</a>
  <a class="btn" href="https://www.youtube.com/@fracturedinfinities" title="youtube channel xD" target="_blank"
    rel="noopener noreferrer">Youtube</a>
</nav> -->


<!-- Generating navigation links for professional navbar and personal navbar -->
{% assign personal_pages = "" %}
{% assign professional_pages = "" %}

<!-- _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._ -->
{% for page in site.pages %}
  {% if page.categories contains "root" %}
  
    {% if page.categories contains "professional" %}
      {% assign professional_pages = professional_pages | append: page.url | append: "," %}
    {% endif %}
    {% if page.categories contains "personal" %}
      {% assign personal_pages = personal_pages | append: page.url | append: "," %}
    {% endif %}

  {% endif %}
{% endfor %}
<!-- "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'" -->

{% assign personal_urls = personal_pages | split: "," %}
{% assign professional_urls = professional_pages | split: "," %}

{% assign personal_pages = site.pages | where_exp: "item", "personal_urls contains item.url" %}
{% assign professional_pages = site.pages | where_exp: "item", "professional_urls contains item.url" %}




<nav>
    <!-- _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._ -->
                                      <!-- Professional -->
    {% if page.categories contains 'professional' %}
    <!-- Display only professional pages -->
      {% assign sorted_pages = professional_pages | sort: "order" %}
        {% for item in sorted_pages %}
        {% if item.permalink != page.permalink %}
        <a class="btn" href="{{ item.permalink }}" title="{{item.title}}">{{ item.moniker | default: item.title }}</a> {% endif %}
        {% endfor %}
        <a class="btn" href="https://github.com/rkcabell/" target="_blank" rel="noopener noreferrer"
                title="Github">
                <svg aria-hidden="true" height="36" width="36" class="octicon octicon-mark-github"  version="1.1" viewBox="0 0 16 16" ><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
          </a>
        <a class="btn" href="https://www.linkedin.com/in/rkcabell/" target="_blank" rel="noopener noreferrer"
                title="LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
          </a>
          {% if page.categories contains 'homepage' %}
          <br>
            <a class="btn" id="contactButton" href="#"
              title="Mail">
              <svg height="32" width="88"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 512 512">
                <path class="st0" d="M510.678,112.275c-2.308-11.626-7.463-22.265-14.662-31.054c-1.518-1.915-3.104-3.63-4.823-5.345
                c-12.755-12.818-30.657-20.814-50.214-20.814H71.021c-19.557,0-37.395,7.996-50.21,20.814c-1.715,1.715-3.301,3.43-4.823,5.345
                C8.785,90.009,3.63,100.649,1.386,112.275C0.464,116.762,0,121.399,0,126.087V385.92c0,9.968,2.114,19.55,5.884,28.203
                c3.497,8.26,8.653,15.734,14.926,22.001c1.59,1.586,3.169,3.044,4.892,4.494c12.286,10.175,28.145,16.32,45.319,16.32h369.958
                c17.18,0,33.108-6.145,45.323-16.384c1.718-1.386,3.305-2.844,4.891-4.43c6.27-6.267,11.425-13.741,14.994-22.001v-0.064
                c3.769-8.653,5.812-18.171,5.812-28.138V126.087C512,121.399,511.543,116.762,510.678,112.275z M46.509,101.571
                c6.345-6.338,14.866-10.175,24.512-10.175h369.958c9.646,0,18.242,3.837,24.512,10.175c1.122,1.129,2.179,2.387,3.112,3.637
                L274.696,274.203c-5.348,4.687-11.954,7.002-18.696,7.002c-6.674,0-13.276-2.315-18.695-7.002L43.472,105.136
                C44.33,103.886,45.387,102.7,46.509,101.571z M36.334,385.92V142.735L176.658,265.15L36.405,387.435
                C36.334,386.971,36.334,386.449,36.334,385.92z M440.979,420.597H71.021c-6.281,0-12.158-1.651-17.174-4.552l147.978-128.959
                l13.815,12.018c11.561,10.046,26.028,15.134,40.36,15.134c14.406,0,28.872-5.088,40.432-15.134l13.808-12.018l147.92,128.959
                C453.137,418.946,447.26,420.597,440.979,420.597z M475.666,385.92c0,0.529,0,1.051-0.068,1.515L335.346,265.221L475.666,142.8
                V385.92z"/>
              </svg>
              </a>

              <div id="contactModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <form action="mailto:cabell.ryan+personalwebsite@gmail.com" method="post" enctype="text/plain">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" maxlength="5000" oninput="updateCharCount();" required></textarea>

                    <input type="checkbox" name="botcheck" class="ohnohoney" title="checkme">
                    <label class="ohnohoney" for="name"></label>
                    <input class="ohnohoney" autocomplete="off" type="text" id="name" name="name" placeholder="Your name here">

                    <div class="buttons">
                      <button type="button" class="cancel"><span>Cancel</span></button>
                      <button type="submit" class="send"><span>Send</span></button>
                    </div>
                  </form>
                </div>
              </div>
          {% endif %}
      <!-- "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'" -->

      {% else %}

      <!-- _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._ -->
                                    <!-- PERSONAL -->
      <!-- Display personal root category pages -->
      {% assign sorted_pages = personal_pages | sort: "order" %}
        {% for item in sorted_pages %}
        {% if item.permalink != page.permalink %}
        <a class="btn" href="{{ item.permalink }}" title="{{item.title}}">{{ item.moniker | default: item.title }}</a> {% endif %}
        {% endfor %}
        <!-- Homepage-ONLY Links -->
        {% if page.categories contains 'homepage' %}
        <br>
        <a class="btn" href="https://github.com/rkcabell/" target="_blank" rel="noopener noreferrer"
        title="Github">
        <svg height="32" width="32" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
  </a>
          <a class="btn" href="https://discord.com/users/157640185452953600" target="_blank" rel="noopener noreferrer"
           title="Discord">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36" width="32" height="32">
            <path d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"/>
          </svg>
          
          </a>
        <a class="btn" href="https://www.youtube.com/@fracturedinfinities" target="_blank" rel="noopener noreferrer"
        title="Youtube">
          <svg height="32" width="32"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
          viewBox="0 0 461.001 461.001" xml:space="preserve">
            <path  d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
              c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
              C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
              c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"/>
        </svg></a>
          <a class="btn" href="https://www.youtube.com/watch?v=MTW4sIL9Dpw" target="_blank" rel="noopener noreferrer"
          title="OnlyFans">OnlyFans
            <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
              <g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
              </g>
            </svg>
          </a>
          <a class="btn btn-special" href="/professional.html" title="Professional">Professional Site - ONE WAY LINK</a>

        
        <br>
        <a class="btn" id="contactButton" href="#"
          title="Mail">
          <svg height="32" width="88"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
          viewBox="0 0 512 512">
            <path class="st0" d="M510.678,112.275c-2.308-11.626-7.463-22.265-14.662-31.054c-1.518-1.915-3.104-3.63-4.823-5.345
              c-12.755-12.818-30.657-20.814-50.214-20.814H71.021c-19.557,0-37.395,7.996-50.21,20.814c-1.715,1.715-3.301,3.43-4.823,5.345
              C8.785,90.009,3.63,100.649,1.386,112.275C0.464,116.762,0,121.399,0,126.087V385.92c0,9.968,2.114,19.55,5.884,28.203
              c3.497,8.26,8.653,15.734,14.926,22.001c1.59,1.586,3.169,3.044,4.892,4.494c12.286,10.175,28.145,16.32,45.319,16.32h369.958
              c17.18,0,33.108-6.145,45.323-16.384c1.718-1.386,3.305-2.844,4.891-4.43c6.27-6.267,11.425-13.741,14.994-22.001v-0.064
              c3.769-8.653,5.812-18.171,5.812-28.138V126.087C512,121.399,511.543,116.762,510.678,112.275z M46.509,101.571
              c6.345-6.338,14.866-10.175,24.512-10.175h369.958c9.646,0,18.242,3.837,24.512,10.175c1.122,1.129,2.179,2.387,3.112,3.637
              L274.696,274.203c-5.348,4.687-11.954,7.002-18.696,7.002c-6.674,0-13.276-2.315-18.695-7.002L43.472,105.136
              C44.33,103.886,45.387,102.7,46.509,101.571z M36.334,385.92V142.735L176.658,265.15L36.405,387.435
              C36.334,386.971,36.334,386.449,36.334,385.92z M440.979,420.597H71.021c-6.281,0-12.158-1.651-17.174-4.552l147.978-128.959
              l13.815,12.018c11.561,10.046,26.028,15.134,40.36,15.134c14.406,0,28.872-5.088,40.432-15.134l13.808-12.018l147.92,128.959
              C453.137,418.946,447.26,420.597,440.979,420.597z M475.666,385.92c0,0.529,0,1.051-0.068,1.515L335.346,265.221L475.666,142.8
              V385.92z"/>
          </svg>
          </a>

          <div id="contactModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <form action="mailto:cabell.ryan+personalwebsite@gmail.com" method="post" enctype="text/plain">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message</label>
                <textarea id="message" name="message" maxlength="5000" oninput="updateCharCount();" required></textarea>

                <input type="checkbox" name="botcheck" class="ohnohoney" title="checkme">
                <label class="ohnohoney" for="name"></label>
                <input class="ohnohoney" autocomplete="off" type="text" id="name" name="name" placeholder="Your name here">

                <div class="buttons">
                  <button type="button" class="cancel"><span>Cancel</span></button>
                  <button type="submit" class="send"><span>Send</span></button>
                </div>
              </form>
            </div>
          </div>
          {% endif %}
      {% endif %}
      <!-- "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'" -->


</nav>

<link rel="stylesheet" href="/assets/css/style.css">
 <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
<!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
<script src="/assets/js/email.js"></script>
<script>
  function updateCharCount() {
    var textarea = document.getElementById('message');
    var charCount = document.getElementById('charCount');
    var remaining = 500 - textarea.value.length;
    charCount.textContent = remaining + ' characters remaining';
  }
  </script>