<!-- <link rel="stylesheet" href="/assets/css/style.css?v=9ebc38a5981796d9472a934f0c2a270ce61eaa0c"> -->
<!-- <nav >
  <a class="btn" href="index.html" title="resume">Home</a>
  <a class="btn" href="resume.html" title="resume">Resume</a>
  <a class="btn" href="projects.html" title="personal projects">Projects</a>
  <a class="btn" href="https://github.com/rkcabell/" target="_blank" rel="noopener noreferrer"
    title="github UwU">GitHub</a>
  <a class="btn" href="/cat.html" title="cat pics :3">Cat</a>
  <a class="btn" href="/art.html" title="artwork">Art</a>
  <a class="btn" href="/world.html" title="worldbuilding">Worldbuilding</a>
  <a class="btn" href="https://www.youtube.com/@fracturedinfinities" title="youtube channel xD" target="_blank"
    rel="noopener noreferrer">Youtube</a>
</nav> -->


<!-- Generating navigation links for professional navbar and personal navbar -->
{% assign personal_pages = "" %}
{% assign professional_pages = "" %}

<!-- _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._ -->
{% for page in site.pages %}
  {% if page.categories contains "root" %}
  
    {% if page.categories contains "professional" %}
      {% assign professional_pages = professional_pages | append: page.url | append: "," %}
    {% endif %}
    {% if page.categories contains "personal" %}
      {% assign personal_pages = personal_pages | append: page.url | append: "," %}
    {% endif %}

  {% endif %}
{% endfor %}
<!-- "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'" -->

{% assign personal_urls = personal_pages | split: "," %}
{% assign professional_urls = professional_pages | split: "," %}

{% assign personal_pages = site.pages | where_exp: "item", "personal_urls contains item.url" %}
{% assign professional_pages = site.pages | where_exp: "item", "professional_urls contains item.url" %}


<nav>
    <!-- _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._ -->
                                      <!-- Professional -->
    {% if page.categories contains 'professional' %}
    <!-- Display only professional pages -->
      {% assign sorted_pages = professional_pages | sort: "order" %}
        {% for item in sorted_pages %}
        {% if item.permalink != page.permalink %}
        <a class="btn" href="{{ item.permalink }}" title="{{item.title}}">{{ item.moniker | default: item.title }}</a> {% endif %}
        {% endfor %}
        <a class="btn" href="https://github.com/rkcabell/" target="_blank" rel="noopener noreferrer"
                title="Github">GitHub
                <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
                  <g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                    <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
                  </g>
                </svg>
          </a>
        <a class="btn" href="https://www.linkedin.com/in/rkcabell/" target="_blank" rel="noopener noreferrer"
                title="LinkedIn">LinkedIn
                <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
                  <g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                    <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
                  </g>
                </svg>
          </a>
      <!-- "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'" -->

      {% else %}

      <!-- _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._ -->
                                    <!-- PERSONAL -->
      <!-- Display personal root category pages -->
      {% assign sorted_pages = personal_pages | sort: "order" %}
        {% for item in sorted_pages %}
        {% if item.permalink != page.permalink %}
        <a class="btn" href="{{ item.permalink }}" title="{{item.title}}">{{ item.moniker | default: item.title }}</a> {% endif %}
        {% endfor %}
        <!-- Homepage-ONLY Links -->
        {% if page.categories contains 'homepage' %}
        <br>
        <a class="btn" href="https://github.com/rkcabell/" target="_blank" rel="noopener noreferrer"
        title="Github">GitHub
        <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
          <g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
            <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
          </g>
        </svg>
  </a>
          <a class="btn" href="https://discord.com/users/157640185452953600" target="_blank" rel="noopener noreferrer"
           title="Discord">Discord
            <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
              <g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
              </g>
            </svg>
          </a>
          <a class="btn" href="https://www.youtube.com/watch?v=MTW4sIL9Dpw" target="_blank" rel="noopener noreferrer"
          title="OnlyFans">OnlyFans
            <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
              <g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
              </g>
            </svg>
          </a>
          <a class="btn btn-special" href="/professional.html" title="Professional">Professional Site - ONE WAY LINK</a>

        {% endif %}
        
      {% endif %}
      <!-- "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'" -->


</nav>