{% if page.categories contains 'professional' %}
  {% assign query_param = 'szosxzfarvay' %}
{% elsif page.categories contains 'personal' %}
  {% assign query_param = 'smrfhaoc' %}
{% endif %}

{% if query_param %}
<div class="sidebar">
  <ul>
    <li><a>Projects</a></li>
    {% for project in site.pages %}
      {% if project.categories contains 'inproject' %}
        <li><a href="{{ project.permalink | relative_url }}?{{ query_param }}">{{ project.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
