<nav>
    {% if page.categories contains 'inproject' %}
      <a class="btn" href="/professional/projects.html" title="Projects">Projects</a>
    {% endif %}

    {% if page.categories contains 'project' & 'professional' %}
      <a class="btn" href="/professional.html" title="Home">Home</a>
    {% endif %}
    <!-- TODO block from prof -->
    <!-- {% if page.categories contains 'inproject' %}
      <a class="btn" href="/projects.html" title="Projects">Projects - Personal</a>
    {% endif %} -->


</nav>