<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta charset="UTF-8">

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="theme-color" content="#157878"> -->
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
  <link rel="stylesheet" href="{{ '/assets/css/resume.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
</head>

<body id="default-bkg">

  <div id="darkroom" dev-disable>
    
    <!-- Option 1 -->
    <!-- <button id="lightswitch">Turn On</button> -->

    <!-- Option 2 -->
    <input id="checkbox" type="checkbox" aria-label="Checkbox label" />
    <label id="lightswitch" class="switch" for="checkbox">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="288" height="288" fill="currentColor">
      <path d="M32 4c-7.7 0-14 6.3-14 14v10h-6c-2.2 0-4 1.8-4 4v24c0 2.2 1.8 4 4 4h36c2.2 0 4-1.8 4-4V32c0-2.2-1.8-4-4-4h-20V18c0-3.3 2.7-6 6-6s6 2.7 6 6v6h4V18c0-7.7-6.3-14-14-14zm-8 24v20c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V28H24zm12 8a4 4 0 110 8 4 4 0 010-8z" />
      </svg>
    </label>
    
  </div>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>


    {% if site.show_downloads %}
    <a href="/assets/RyanResumeCensoredLatex.txt" class="btn btn-disabled" download>Download LaTeX</a>
    <a href="/assets/RyanResumeCensoredPDF.pdf" class="btn" download>Download pdf</a>
    <a href="/assets/RyanResumeCensoredTXT.txt" class="btn btn-disabled" download>Download txt</a>
    {% endif %}
    <div class="solo-btn-wrapper">
      {% include navigation.html %}
  </div>
  </header>

  <main id="main">

    <div class="card-overlay-container">
      <div id="Experience" class="heading-box card carve" >
        <h2> Experience </h2>
      </div>
    </div>

    <div class="card-overlay-container">
      <div class="content-box card carve">
        <h2>Software Developer in Test</h2>
        <p>
          <strong>Blackberry QNX</strong><br>
          Cary, NC<br>
          Jun 2022 - Mar 2024
        </p>
      </div>
      <div class="content-box textoverlay">
        <h2>Software Developer in Test</h2>
        <p>
          <strong>Blackberry QNX</strong><br>
          Cary, NC<br>
          Jun 2022 - Mar 2024
        </p>
      </div>
    </div>

    <div class="card-overlay-container">
      <div id="Education" class="heading-box card carve" aria-hidden="true">
        <h2>Education</h2>
      </div>
    </div>

    <div class="card-overlay-container">
      <div class="content-box card carve">
        <h3>Bachelor's in Computer Science, Minor in Mathematics </h3>
        <p>
          <strong>University of North Carolina at Greensboro</strong><br>
          Graduated 2021
        </p>
        <h3>Associates of Science </h3>
        <p>
          <strong>Wake Technical Community College</strong><br>
          Graduated 2019
        </p>
      </div>
       <div class="content-box textoverlay">
          <h3>Bachelor's in Computer Science, Minor in Mathematics </h3>
          <p>
            <strong>University of North Carolina at Greensboro</strong><br>
            Graduated 2021
          </p>
          <h3>Associates of Science </h3>
          <p>
            <strong>Wake Technical Community College</strong><br>
            Graduated 2019
          </p>
        </div>
    </div>


    <div class="card-overlay-container">
      <div id="Skills" class="heading-box card carve">
        <h2>Skills</h2>
      </div>
    </div>

    <div class="card-overlay-container">
      <div class="content-box card carve">
        <p>
          <h3>Programming Languages</h3> Python, Java, C, Bash
          <h3>Technologies</h3> Git, SVN, PyTest, Jenkins, WFA Precert, QNX, Linux/Ubuntu, Windows
          <h3>Tools</h3> VS Code, BlackFishDB, Wireshark, Powershell, PuTTy, Meld, Jira, Confluence, Rufus
          <h3>Soft Skills</h3> Leadership, Teamwork, Documentation, Problem-Solving, Curiosity
        </p>
      </div>
      <div class="content-box textoverlay">
        <p>
          <h3>Programming Languages</h3> Python, Java, C, Bash
          <h3>Technologies</h3> Git, SVN, PyTest, Jenkins, WFA Precert, QNX, Linux/Ubuntu, Windows
          <h3>Tools</h3> VS Code, BlackFishDB, Wireshark, Powershell, PuTTy, Meld, Jira, Confluence, Rufus
          <h3>Soft Skills</h3> Leadership, Teamwork, Documentation, Problem-Solving, Curiosity
        </p>
      </div>
    </div>


  </main>


  <script src="/assets/js/cursor-glow.js"></script>
  
  <script src="/assets/js/lightswitch.js"></script>
  

</body>



</html>