<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}"></html>

<head>
    {% includes post-head %}
</head>

<body id="default-bkg">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <div class="container">
        <div class="sidebar">
            <!-- <div class="tag-group">
                {% for tag in page.tags %}
                    <span class="tag-text">
                      <a href="#">{{ tag }}</a>
                    </span>
                {% endfor %} -->
              </div>
            <h3>Navigation</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            {{ content }}
            <div class="meta">
                <span class="tag-text">
                <p>Categories: {{ page.categories | join: ", " }}</p>
                <p>Tags: {{ page.tags | join: ", " }}</p>
            </span>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} MyWikiSite</p>

    </footer>
</body>

</html>