<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
  <script src="/scripts/clairvoyance.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
  <script>
      console.log('test');
  </script>
  <script>
    //  _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._
    //                          CLAIRVOYANCE
    //  "`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'""`--'""`-.__.-'"
    document.addEventListener("DOMContentLoaded", function() {
    const keyMapping = {
      smrfhaoc: 'personal',
      szosxzfarvay: 'professional'
    }

    function getKeyFromURL() {
      let urlParams = window.location.search.substring(1); // Get the query string without the '?'
      return urlParams; // Return the key directly since it's the only part in the query string
    }

    let key = getKeyFromURL();
    console.log('Key from URL:', key);
    let origin = keyMapping[key] 
    console.log('origin:', origin)


    if (origin === 'personal') {
      let homeLink = document.querySelector('a[title="Home"]')
      console.log('Home Link:', homeLink)
      let projectsLink = document.querySelector('a[title="Projects"]')
      if (homeLink) {
        homeLink.href = '/'
        console.log('Home link updated to /')
      }
      if (projectsLink) {
        projectsLink.href = '/projects.html'
        console.log('Projects link updated to /projects.html')
      }
    } else if (origin === 'professional') {
      let homeLink = document.querySelector('a[title="Home"]')
      let projectsLink = document.querySelector('a[title="Projects"]')
      if (homeLink) {
        homeLink.href = '/professional.html'
        console.log('Home link updated to /professional.html')
      }
      if (projectsLink) {
        projectsLink.href = '/professional/projects.html'
        console.log('Projects link updated to /professional/projects.html')
      }
    }
    });

</script>

  <!-- <script src="/scripts/clairvoyance.js"></script> -->
</head>

<body id="default-bkg">
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    <!-- <a href="/index.html" class="btn">Home</a> -->
    {% include project_navigation.html %}
  </header>
  <!-- <a href="/projects.html" class="btn">Back</a> -->
  <div class="flex-container">

    {% include project-sidebar.html %}

    <main id="content" class="main-content" role="main">

      {{ content }}

    </main>
  </div>
  <script src="/projects/js/p5.js"></script>
  <footer class="site-footer">

    {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
      is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
    {% endif %}

  </footer>
</body>

</html>